<%= render @product %>

<div>
  <%= link_to "Editar", edit_product_path(@product) %> |
  <%= link_to "Regresar a Productos", products_path %>

  <%= button_to "Eliminar Producto", @product, method: :delete %>
</div>
