<div id="<%= dom_id warehouse %>">
  <p>
    <strong>Nombre:</strong>
    <%= warehouse.name %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= warehouse.address %>
  </p>

  <p>
    <strong>CP:</strong>
    <%= warehouse.cp %>
  </p>

</div>
