<%= render @warehouse %>

<div>
  <%= link_to "Editar", edit_warehouse_path(@warehouse) %> |
  <%= link_to "Regresar lista de CEDIS", warehouses_path %>

  <%= button_to "Eliminar CEDIS", @warehouse, method: :delete %>
</div>
